{% extends 'ConciergerieBundle:Entreprise:index.html.twig' %}


{% block body %}

  <section class="container catalogue">
    <div class="row">
      <h2>Modification des informations</h2>
    </div>

    {% for message in app.session.flashbag.get('CompteModif') %}
    <div class="alert alert-success">
      {{message}}
    </div>
    {% endfor %}

    {{ form_start(form, {'method': 'post', 'action': path('conciergerie_ECEntreprise_monCompte'), 'attr': {'class': ''}}) }}


    <div class="input-group col-xs-8">
      {{ form_row(form.email, {'attr': {'class':'form-control','placeholder':'Entrez votre adresse mail'},'label':'Adresse mail :'}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.username, {'attr': {'class':'form-control', 'placeholder':'Votre identifiant de connexion'},'label':"Nom d'utilisateur :"}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.plainPassword.first, {'attr': {'class':'form-control', 'placeholder':'Saisissez votre mot de passe (6 caractères minimum)'},'label':"Nouveau mot de passe :"}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.plainPassword.second, {'attr': {'class':'form-control', 'placeholder':'Confirmez votre mot de passe'},'label':"Confirmation mot de passe :"}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.siret, {'attr': {'class':'form-control', 'placeholder':'Entrez les 10 chiffres de votre N° de SIRET'},'label':"Numéro de SIRET :"}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.responsable, {'attr': {'class':'form-control', 'placeholder':'Nom et prénom du responsable'},'label':"NOM et Prénom du responsable :"}) }}
    </div>

    <div class="input-group col-xs-8">
      <label>Adresse du entreprise :</label>
      {{ form_row(form.entreprise.adresse.num, {'attr': {'class':'form-control', 'placeholder':'Numéro de la rue (ex : 219)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.rue, {'attr': {'class':'form-control', 'placeholder':'Nom de la rue (ex : Rue du Pressoir Neuf)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.ville, {'attr': {'class':'form-control', 'placeholder':'Ville (ex : Ouvrouer-Les-Champs)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.codePostal, {'attr': {'class':'form-control', 'placeholder':'Code Postal (ex : 45192)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.numAppart, {'attr': {'class':'form-control', 'placeholder':'Numéro appartement ou batiment(ex : 12)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.etage, {'attr': {'class':'form-control', 'placeholder':'Numéro étage (ex : 2)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.adresse.complements, {'attr': {'class':'form-control', 'placeholder':'Informations complémentaires (ex : Sonette sur la gauche)'}}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.telephone, {'attr': {'class':'form-control', 'placeholder':'Téléphone du responsable'},'label':"Numéro de téléphone :"}) }}
    </div>

    <div class="input-group col-xs-8">
      {{ form_row(form.entreprise.site, {'attr': {'class':'form-control', 'placeholder':"URL du site de l'entreprise" },'label':"Site internet :"}) }}
    </div>

    <div class="input-group col-xs-8">
      <p>
        <input type="submit" class="btn btn-success sub-btn" value="Valider les changements" />
        <a href=" {{path('conciergerie_ECEntreprise')}} "><button type="button" class="btn btn-warning">Retour à l'espace client</button></a>
      </p>
    </div>

    <br>

    <div class="alert alert-warning">
      Revenir à l'espace client annulera tout changement.
    </div>

    {{ form_end(form) }}

  </section>

{% endblock %}
